*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s ease;
}

a{
    text-decoration: none !important;
}
html{
    overflow-x: hidden;
    scroll-padding-top: 5.6rem;
    scroll-behavior: smooth;
}

/* NAVBAR */

body {
    margin: 0;
    font-family: Arial
}

.topnav {
    overflow: hidden;
    background-color:black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /*box-shadow: 0px 4px 8px 0px #fdc209;*/
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color:#1E386C;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown_menu {
    float: left;
    overflow: hidden;
    text-align: center;
}

.dropdown_menu .dropdown_btn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown-menu:hover .dropdown_btn {
    background-color:#fdc209;
    color: white;
}

.dropdown_content a:hover {
    background-color:#fdc209;
    color: black;
}

.dropdown_menu:hover .dropdown_content {
    display: block;
}

@media screen and (max-width: 1050px) {

    .topnav a:not(:first-child),
    .dropdown_menu .dropdown_btn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1050px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown_menu {
        float: none;
    }

    .topnav.responsive .dropdown_content {
        position: relative;
    }

    .topnav.responsive .dropdown_menu .dropdown_btn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

body{
    background-color: white;
}


.btn{
    margin-top: 0.5rem;
    display: inline-block;
    padding: 0.5rem 2.5rem;
    border-radius: 19rem;
    font-size: 1rem;
    color: #fff;
    background-color:#1E386C;
}


/* HOME */
.home{
    padding: 2rem 7%;
    min-height: 100vh;
    background: url(/images/wp2590330-light-blue-background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
}

.home .content{
    margin-left: 10%;
    width: 60%;
}
.home .content h3{
    font-size: 3.75rem;
    color:#1E386C;
}

.home .content p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.3;
    padding: 0.5rem 0;
    color: rgb(90, 88, 88);
}

/* HOME */
.motto{
    clear: both;
    display: flex;
    height: 100px;
    overflow: visible;
    width: 64%;
    margin: 0 auto;
    margin-top: 200px;
    font-weight: initial;
    justify-content: center;
    align-items: center;

}

.motto-l{
    color: #1E386C;
    font-style: italic;
    font-size: 300%;
    margin-right: 3rem;
}
.motto-r{
    color: #1E386C;
    font-style: italic;
    font-size:300%;
    margin-left: 3rem;
}

.motto_img:hover{
    transform: scale(1.1);
}

.block{
    position: relative;
    display: block;
    height: 130px;
    overflow: hidden;
    margin-bottom: 24px;
    margin-top: 120px;
}
.lider{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    color: #fff;
    line-height: 32px;
}
.block-image img{
    display: block;
    width: 100%;
} 

.block p{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    color:#1E386C;
    font-weight: bold;
    top: 50%;
    margin-top: -36px;
    box-sizing: border-box;
    padding-left: 48px;
    font-style: italic;
}

.info{
    display: block;
    height: auto;
    overflow: hidden;
    padding-top: 48px;
    display: flex;
    padding: 7%;
}
.info .messaging{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.info .messaging img{
    float: left;
    width: 30rem;
    height:auto;
    margin-top: 5%;
}

.info .messaging img:hover{
    opacity: 0.7;
    transition: 0.8s;
}

.info-right h3{
    font-size: 3.75rem;
    color:#1E386C;
}
.info-right p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.3;
    padding: 0.5rem 0;
    color:rgb(90, 88, 88);
}

.info .payment img{
    display: block;
    text-align: center;
    float: right;
    width: 30rem;
    height:30rem;
    margin-top: 5%;
}

.info .payment img:hover{
    opacity: 0.7;
    transition: 0.8s;
}

.info-left{
    padding-left: 5%;
}

.info-left h3{
    font-size: 3.75rem;
    color:#1E386C;
}
.info-left p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.3;
    padding: 0.5rem 0;
    color:rgb(90, 88, 88);
}

/* achievements */
.achievements{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.achievement{
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    margin-right: 1rem;
    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.achievement-img:hover{
    transform: scale(1.1);
}

.achievement-name{
    margin-top: 0.5rem;
    display: flex;
    color:#1E386C;
    font-weight: bold;
    font-size: 120%;
    font-style: italic;
}

/* offices */
.offices{
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 72px;
}

.office-title{
    font-size: 48px;
    font-weight: bold;
    color:#1E386C;
    display: block;
    height: auto;
    line-height: 56px;
    text-align: center;
    margin-bottom: 48px;
    margin-top: 72px;
}

.office{
    position: relative;
    display: inline-flex;
    height: auto;
    overflow: hidden;
    flex: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.img-country{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img-country:hover{
    transform: scale(1.1);
}

.office .name{
    position: absolute;
    display: block;
    font-size: 1.1rem;
    line-height: 2rem;
    color:#1E386C;
    font-weight: bold;
    top: 40%;
    text-align: center;
    margin-top: 0.4rem;
    width: 12rem;
    left: 40%;
    margin-left: -5.5rem;
}

/*  Blog posts */
.blog-maintitle{
    font-size: 36px;
    font-weight: bold;
    color:#1E386C;
    display: block;
    height: auto;
    overflow: hidden;
    line-height: 56px;
    text-align: center;
    margin-bottom: 64px;
    margin-top: 48px;
}
.blog-posts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 24px;
    margin-top: 36px;
    flex-direction: row;
}

.blog-posts .blog-post-right{
    float: right;
}

.blog-posts .blog-post .blog-img,
.blog-posts .blog-post-right .blog-img {
    float: left;
    width: 240px;
    height: 168px;
    display: flex;
}

.blog-img img{
    align-items: center;
    display: flex;
}

.blog-img img:hover{
    transform: scale(1.1);
}

.blog-content{
    float: right;
    width: 55%;
    margin-left: 24px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blog-content .blog-title{
    display: block;
    height: auto;
    overflow: hidden;
    font-weight: bold;
    line-height: 24px;
    color:#1E386C;
}

.blog-content .blog-text{
    display: block;
    height: auto;
    overflow: hidden;
    margin-top: 12px;
    font-size: 16px;
}
.blog-content .blog-link , .project-content .blog-link{
    margin-top: 24px;
    text-decoration: none;
    display: inline-block;
    color:#1E386C;
    font-weight: bold;
}

.link-more-posts{
    font-size: 20px;
    height: auto;
    overflow: hidden;
    line-height: 56px;
    text-align: center;
    margin-bottom: 64px;
    margin-top: 48px;
}
.link-more-posts a{
    color:#1E386C;
}

/* about us */
.about-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.about-us .title{
    display: block;
    height: auto;
    font-size: 52px;
    line-height: 56px;
    color:#1E386C;
    padding-left: 48px;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
}

.about-us img{
    width: 240px;
    height: 240px;
}
.about-us-desc {
    display: block;
    height: auto;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 48px;
    padding-left: 8rem;
    padding-right: 8rem;
    color: rgb(90, 88, 88);
}

.about-us-bg{
    height: auto;
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: -4rem;
    margin-bottom: 48px;
    display: block;
    width: 100%;
}

.about-us-bg img{
    width: inherit;
    height: inherit;
}

.about-us-title{
    display: block;
    height: auto;
    overflow: hidden;
    font-size: 36px;
    line-height: 56px;
    color:#1E386C;
    font-weight: bold;
    padding-left: 48px;
}

.values{
    margin-left: 5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 48px;
    margin-bottom: 48px;
}

.list{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: column;
}

.value{
    color:#1E386C;
    font-weight: bold;
    margin-bottom: 8px;
}

/* SOCIAL PROJECTS */
.project-posts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 24px;
    margin-top: 48px;
    flex-direction: column;
}

.project-posts .project-post{
    padding: 2rem;
    display: flex;
    align-items: center;
}
.project-posts .project-post .project-img{
    float: left;
    display: flex;
}

.project-img img{
    width: 360px;
    height: auto;
    align-items: center;
    display: flex;
}

.project-img img:hover{
    transform: scale(1.1);
}

.project-content{
    float: right;
    width: 65%;
    padding-left: 2rem;
    margin-left: 24px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-content .project-title{
    display: block;
    height: auto;
    overflow: hidden;
    font-weight: bold;
    line-height: 24px;
    color:#1E386C;
}

.project-content .project-text{
    display: block;
    height: auto;
    overflow: hidden;
    margin-top: 12px;
    font-size: 16px;
}
.project-content .project-link{
    margin-top: 24px;
    text-decoration: none;
    display: inline-block;
    color:#1E386C;
    font-weight: bold;
}

/* logo */
.logo-title{
    margin-left: 3rem;
    display: block;
    height: auto;
    overflow: hidden;
    font-weight: bold;
    line-height: 24px;
    font-size: 18px;
    color:#1E386C;
}
.logos{
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
    padding-top: 0;
    padding-bottom: 24px;
    box-sizing: border-box;
}
.logos .logo{
    float: left;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-right: 8rem;
    margin-bottom: 3rem;
}

.logo-image{
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 18px;
    padding: 12px;
    padding-top: 18px;
}

.logo-image img{
    width: 240px;
    height: auto;
}

.logo-image{
    width: 260px;
    border-style: inset;
    justify-content: center;
    display: flex;
}
.logo a{
    display: flex;
}
.logo a button{
    margin-left: 36px;
    margin-top: 18px;
    width: 100%;
    max-width: 180px;
    cursor: pointer;
    text-align: center;
    border-radius: 16px;
    border: 1px dashed #1E386C;
    color:#1E386C;
    font-weight: bold;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
}

/* iş ortaklarımız */
.partners{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 72px;
}

.partner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    flex: 1;
    box-sizing: border-box;
    padding: 36px;
    padding-top: 0;
    padding-bottom: 16px;
}

.partners-last{
    margin-top: 24px;
    padding-top: 24px;
}

.block-gsma{
    display: block;
    overflow: hidden;
    height: 300px;
    margin-top: 72px;
}

.block-gsma .inner-block{
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 64px;
    box-sizing: border-box;
}

.block-gsma .left{
    float: left;
    background: #e1e1e0;
}
.block-gsma .left .image-gsma{
    float: right;
    width: 400px;
}

.block-gsma .left .image-gsma img{
    width: inherit;
    height: inherit;
}
.block-gsma .right{
    float: right;
    background:#1E386C;
}

.block-gsma .right .text{
    display: block;
    height: auto;
    overflow: hidden;
    float: left;
    width: 400px;
    font-size: 32px;
    line-height: 36px;
    color:#fff;
    text-align: left;
    margin-top: 32px;
}

/* references */
.references{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 48px;
    padding-top: 0;
    box-sizing: border-box;
}

.references .reference{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    width: 20%;
    box-sizing: border-box;
    padding: 24px;
    cursor: pointer;
}
.references .reference img{
    width: 100%;
}

.references .reference img:hover{
    transform: scale(1.1);
}

/* YURT İÇİ */
.contact-image{
    display: block;
    height: auto;
    overflow: hidden;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 48px;
    margin-top: 48px;
}
.contact-image img{
    aspect-ratio: 1;
    width: 100%;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    padding: 48px;
    box-sizing: border-box;
}
.contacts .contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    overflow: hidden;
    flex: 1;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 8px;
    width: 100%;
}
.contacts .contact .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 2;
    height: 300px;
    line-height: 24px;
}

.contacts .contact .content .content-title{
    display: block;
    height: auto;
    overflow: hidden;
    line-height: 24px;
    color: #1E386C;
    font-weight: bold;
    margin-bottom: 12px;
}

.content .content-row{
    display: block;
    height: auto;
    overflow: hidden;
    margin-bottom: 8px;
    width: 100%;
}

.content-row .icon{
    width: 24px;
    height: 24px;
    float: left;
    color: #1E386C;
}

.content .content-text{
    float: left;
    margin-left: 12px;
    line-height: 24px;
    width: calc(100% - 48px);
}

.contact .map{
    display: inline-flex;
    height: 250px;
    overflow: hidden;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    padding-left: 12px;
    margin-top: -12px;
}

.contact .map iframe{
    width: 100%;
    height: 100%;
    max-height: 180px;
    border: 2px solid #1E386C;
    box-sizing: border-box;
}

/* MESAJLAŞMA SERVİSLERİ */
.messaging-services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.messaging-services .service{
    border-style: inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    flex: 0.2;
    background-color: #eae6ff;
    box-sizing: border-box;
    padding: 48px;
    padding-top: 0;
    padding-bottom: 16px;
    cursor: pointer;
    opacity: 0.9;
}

.messaging-services .service .image-icon{
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.messaging-services .service .image-icon img{
    width: inherit;
    height: inherit;
}

.messaging-services .service .name{
    display: block;
    height: auto;
    overflow: hidden;
    font-size: 18px;
    line-height: 24px;
    color: #1E386C;
    margin-top: 24px;
    text-align: center;
    font-weight: initial;
}

.services-last{
    margin-top: 24px;
    padding-top: 24px;
}

/* ÖDEME SİSTEMLERİ */
.tiko-services{
    display: block;
    height: auto;
    overflow: hidden;
}
.tiko-image{
    float: left;
    width: 50%;
    margin-left: 8%;
}
.tiko-image img{
    width: 90%;
}
.tiko-services .services{
    float: right;
    width: 40%;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 12  px;
    padding-left: 48px;
    padding-top: 0;
    padding-right: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.tiko-services .services .service{
    margin-top: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.tiko-services .services .service img{
    width: 220px;
}

/* BLOG */
.blog-2{
    width: 80%;
    margin:auto;
    display: block;
    height: auto;
}

.blog-2 .text{
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 48px;
    padding-right: 8rem;
    color: rgb(90, 88, 88);
}

.blog-2 img{
    float:left;
    padding:0 10px 10px 0;
    display: block;
    text-align: center;
    width: 30rem;
    height: auto;
    padding-right: 1rem;
}

.blog-2 .blog-footer{
    display: flex;
    height: auto;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    margin-top: 24px;
    width: 80%;
    margin-bottom: 48px;
    padding-left: 48px;
    margin-left: 5rem;
}

.blog-2 .blog-date{
    border-right: 1px solid #e1e1e0;
    margin-right: 16px;
    padding-right: 16px;
    min-width: 140px;
}

.blog-2 .blog-keywords{
    opacity: 0.8;
}

footer{
    height: 444px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 48px;
    padding: 48px;
    background:black;
    color:#fff;
}
.container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer .section{
    display: flex;
    height: 300px;
    overflow: hidden;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
}

footer .subscribe{
    flex: 2;
    align-items: stretch;
    padding-right: 72px;
}
footer .icon{
    height: 24px;
    width: 24px;
    float: left;
    margin-right: 12px;
    color: #fdc209;
}
footer .text{
    float: left;
    line-height: 24px;
}
footer .subs-form{
    display: block;
    height: auto;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 12px;
}
footer .subs-form input{
    float: left;
    width: calc(100% - 100px);
    padding: 8px;
    height: 32px;
    line-height: 16px;
    box-sizing: border-box;
    border-radius: 24px;
    background:#fff;
    border: none;
}
footer .subs-form .btn-accent{
    cursor: pointer;
    width: 92px;
    text-align: center;
    border-radius: 16px;
    font-weight: bold;
    font-size: 16px;
    height: 32px;
    line-height: 24px;
    float: right;
    background:#fdc209;
    color:#1E386C;
    border: none;
}
footer .subs-checkbox{
    display: flex;
    height: auto;
    overflow: hidden;
}

footer .subs-checkbox input{
    float: left;
    margin-right: 12px;
    margin-left: 12px;
}

footer .subs-checkbox label{
    float: left;
    line-height: 24px;
    font-size: 11px;
    width: calc(100% - 50px);
}
footer .subs-checkbox label a{
    color: #fff !important;
    text-decoration: underline !important;
    cursor: pointer;
}
footer .social .icon{
    margin-right: 12px;
    cursor: pointer;
    color: #fdc209;
}

footer .social .icon img{
    width: inherit;
    height: inherit;
}
footer .links{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .links .ext-link{
    margin-right: 8px;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    color: #fff !important;
}
footer .link{
    font-size: 14px;
    margin-top: 12px;
    cursor: pointer;
}
footer .logo-white img{
    width: 171px;
    height: 36px;
}
footer .gsma{
    height: 72px;
    margin-top: 24px;
}
footer .gsma img{
    width: 172px;
    height: 72px;
}
footer .copyright{
    font-size: 11px;
    margin-top: 24px;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  @-webkit-keyframes fade {
    from {opacity: 1} 
    to {opacity: .7}
  }
  @keyframes fade {
    from {opacity: 1} 
    to {opacity: .7}
  }
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  /* responsive */
  @media screen and (max-width: 850px){
    .home{
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding: -4rem;
    }
    .home .left {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
  } 

  .home .content h3{
    font-size: 28px;
    line-height: 32px;
  }
  .home .content p{
    display: block;
    height: auto;
    overflow: hidden;
    margin-top: 16px;
    font-size: 16px;
  }
  .slideshow-container{
    margin-left: 0;
    margin-right: 8%;
    margin-top: 48px;
  }
  .slideshow-container .mySlides{
    float: left;
    width: 280px;
    height: 280px;
    margin-left: calc((100% - 240px) / 2);
  }
  .motto{
    margin-top: 4rem;
    margin-bottom: 12px;
    flex-direction: column;
    text-align: center;
    display: flex;
  }
  .motto-l{
    font-size: 24px;
    line-height: initial;
    margin-left: 48px;
  }
  .motto_img{
    width: 100px;
    height: 100px;
  }
  .motto_img img{
    width: 100px;
    height: 100px;
  }
  .motto-r{
    font-size: 24px !important;
    line-height: initial;
    margin-right: 48px;
  }
  .lider{
    font-size: 16px;
    line-height: 24px;
    top: 12px;
  }
  .info-r{
    flex-direction: column !important;
  }
  .info .messaging{
    display: block;
    overflow: hidden;
    width: 264px;
    height: 264px;
    float: none;
    margin: 0 auto;
  }
  .info .messaging img, .info .payment img{
    width: 264px;
    height: 264px;
  }
  .info .info-right, .info .info-left{
    width: 100%;
    box-sizing: border-box;
    padding: 10%;
    padding-bottom: 0;
    margin-top: 0;
  }
  .info .info-right h3, .info .info-left h3, .office-title{
    font-size: 36px;
  }
  .achievements{
    width: 100%;
    flex-wrap: wrap;
  }
  .achievements .achievement{
    width: 50%;
    margin-bottom: 12px;
    border: none;
  }
  .offices{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .offices .office{
    margin-top: -1rem;
    margin-bottom: -1rem;
    width: 16.8rem;
    height: 16.8rem;
  }
  .offices .office .name{
    padding-left: 2rem;
    padding-top: 0.3rem;
  }
  footer .container{
    width: 100%;
    flex-direction: column;
  }
  footer{
    height: auto;
    padding: 24px;
  }
  footer .section{
    flex: 1 !important;
    padding: 24px 12px;
  }
  footer .logo-white{
    width: 171px;
    height: 36px;
  }
  footer .logo-white img{
    width: 171px;
    height: 36px;
  }
  footer .gsma{
    height: 72px;
    margin-top: 24px;
  }
  footer .copyright{
    width: 100%;
    text-align: center;
  }

  .footer-menu-items{
    display: flex;
    align-items: center;
  }
  footer .subscribe{
    padding-right: 0;
  }
  footer .abone{
    display: block;
    height: auto;
    overflow: hidden;
  }
  .home-view .about-us, .about-us{
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-view .about-us-desc, .about-us-desc{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .info{
    flex-direction: column-reverse;
    padding-top: 7rem;
    align-items: center;
  }
  .blog-posts{
    width: calc(100% - 48px);
    flex-direction: column;
  }
  .blog-posts .blog-post, .blog-post-right{
    display: block;
    border-style: none;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .blog-img{
    float: none;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .blog-posts .blog-post .blog-content, .blog-post-right .blog-content{
    float: none;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-top: 8px;
  }
  .tiko-services .tiko-image{
    width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
    padding-left: 4rem;
  }
  .tiko-services .services{
    display: block;
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .tiko-services .services .service{
    width: 100%;
    text-align: center;
  }
  .info .payment{
    margin-top: -5rem;
    margin-right: 1rem;
  }
  .info .payment img{
    padding-right: 2.5rem;
  }
  .values{
    display: block;
    margin-left: -1rem;
  }
  .project-posts{
    padding-right: 0;
    width: calc(100% - 24px);
    padding-left: 24px;
  }
  .project-posts .project-post{
    display: block;
  }
  .project-posts .project-post .project-img{
    float: none;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: -3rem;
  }
  .project-posts .project-post .project-img img{
    width: 100% !important;
    height: 100% !important;
  }
  .project-posts .project-post .project-content{
    float: none;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-top: 24px;
  }
  .logo-title{
    padding-top: 1rem;
  }
  .partners{
    flex-direction: column;
  }
  .partners .partner{
    padding-bottom: 1rem;
  }
  .block-gsma{
    height: auto;
  }
  .block-gsma .inner-block{
    float: none;
    width: 100%;
    display: block;
    padding: 36px;
  }
  .block-gsma .inner-block .image-gsma{
    width: 100%;
  }
  .block-gsma .inner-block .image-gsma img{
    width: 100%;
  }
  .block-gsma .right .text{
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    margin-top: 0;
  }
  .references{
    padding: 24px;
  }
  .references .reference{
    width: 49%;
  }
  .references .reference .ref-image{
    width: 100%;
  }
  .references .reference .ref-image{
    width: 100% !important;
  }
  .view{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .contacts{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contacts .contact{
    flex-direction: column;
    margin-bottom: 48px;
  }
}